body{
    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-color: teal;
    font: 'Cabin';
    padding-top: 110px;
}

.input-group{
    padding-top: 5px;
}

.navbar-brand {
    font-size: 30px;
    font-family: 'Lobster';
    color: black
}

#super-div{
    padding: 10px;
    font-family: 'Cabin';

}

img {
    width: 100%;
    align-self: center;
    border: 5px solid black;
}

#super-info, #news-div{
    border: 5px solid black;
}


footer{
    height: 5px;
    background: black;
    color: darkgray;
    text-align: center;

}

h2 {
    font-family: 'Lobster';
}



