body{
    background-image: url("./images/background.jpg");
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-size: 100%;
    background-color: #3a6e86;
    font: 'Cabin';
    padding-top: 150px;
    color: white;
    margin-bottom: 100px;
    
}

.input-group{
    padding-top: 5px;
}

.navbar{
    background-color:#34235a8e;
}

.navbar-brand {
    font-size: 50px;
    font-family: 'Lobster';
    color: #f81239;

}

.random-hero-button, .search-button{
    background-color: #f81239;
}

.container{
    padding: 15px;
    font-family: 'Cabin';
    background-color:#34235ab6;

}

img {
    width: 100%;
    align-self: center;
    border: 3px solid #fc2463;
}



#super-div, #news-div{
    border: 3px solid #fc2463;
    background-color: #34235a8e;
    overflow-y: scroll;
}
   
.news-info{
    background-color: #34235a8e;
    border: 1px solid #34235a;
}

.news-heading {
    color: #527e9b;
    font-family: 'Lobster';
}

footer{
    background:#34235a8e;
    color: darkgray;
    text-align: center;

}

h2 {
    font-family: 'Lobster';
    color: #527e9b;

}



